.kode-mono {
  font-family: "Kode Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root
{
	--selected-theme:"Dark";
	--content-image-blur:0px;
	--caption-opacity:0;
	--body-background-color:#212121;
	--body-text-color:whitesmoke;
	--body-header-color:gold;
	--body-shadow : rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
html
{
	background-color:var(--body-background-color);
	color:var(--body-text-color);
	font-family:"kode mono";
	overflow-x:hidden;
	scroll-snap-type:y mandatory;
	scroll-padding-top:0px;
	scroll-behavior:smooth;
	scroll-padding-top:0vh;
	transition: background-color 1s;
}
/* Navbar */
nav
{
	position:fixed;
	font-size:min(1.8rem,3vw);
	z-index:9;
	top:0px;
	left:0px;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	width:100%;
	opacity:0.9;

	white-space:nowrap;
}

nav a 
{
	
  text-decoration : none;  

  color : whitesmoke;
  
  border-style : solid;
  
  border-width :0px 0px 2px 0px;
  
  border-color : whitesmoke;
  
  transition : font-size 0.5s;
}
nav a:hover
{
          font-size: 2rem;  
          color : gold;
          border-color: gold;
}
nav input[type="checkbox"]
{
	appearance:none;
	padding:0;
	margin:0;
	height:0;
	aspect-ratio:1/1;
	border-radius:50%;
	outline-width:2px;
	outline-offset:2px;	
	transition: height 0.2s;
}
nav label::before
{
	content:var(--selected-theme);
	color:var(--body-background-color);
	position:relative;
	display:inline-block;
	transition:content 1s;
}
nav .theme-switcher-container
{
	background-color:whitesmoke;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	width:fit-content;
	display:flex;
	align-items:center;
	padding:0.3rem;
	transition:font-size 0.2s;
}
nav .theme-switcher-container:hover
{
        font-size: 2rem;  
	background-color:gold;
}
/* Sections */
.section
{
	scroll-snap-align:start;
	height:100vh;
	overflow:hidden;
}
/* Section headers */
.section::before
{
	content:"";
	height:6rem;
	display:block;
}
.section-header h2
{
	font-size:2.4rem;
	position:relative;
	border-style:solid;
	border-radius:10px;
	border-color:gold;
	border-width:0px 4px 0px 4px;
	width:fit-content;
	margin:auto;
	box-shadow:var(--body-shadow); 

	color:var(--body-background-color);
	background-color:gold;
	margin:auto;
	width:fit-content;
	padding:2px;
	transition: color 1s;
}

/* Banner */
.banner
{
	font-size:1.2rem;
	position:relative;
	display:grid;
	grid-template-rows: repeat(9,5vh);
	grid-template-columns : repeat(autofit,10vw);
	
	overflow-x:hidden;
}
.banner-logo
{
	grid-area: 2/2/6/3;
}
.banner-logo img
{
	width:100%;
	height:100%;
	object-fit:contain;
}
.banner-caption
{
	color:var(--body-background-color);
	background-color:var(--body-text-color);
	margin:0;
	padding:0;
	font-size:2.2rem;
	grid-area: 7/1/8/4;
	transition: color 1s;
}
.banner-video-container
{
	position:absolute;
	background-color:black;
	margin:0;
	padding:0;
	z-index:10;
	height:100vh;
	width:100vw;
	top:0;
	left:0;
}
.banner-video-container video
{
	filter:blur(10px);
	width:100%;
	height:100%;
	object-fit:cover;
}

.text-overlay
{
	z-index:11;
	position:relative;
	top:20%;
	color:whitesmoke;
	padding:10px;
	font-size:2.2vw;
	margin:auto;
	text-align:center;
}
.text-overlay h2
{
	opacity:0.8;
	font-size:5vw;
}
.text-overlay .button-belt /*I dont know what to call it*/
{
	font-size:min(2.2rem,4vw);
	position:relative;
	top:0%;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	opacity:0.9;
}
.button-belt a
{
    background-image: linear-gradient(to right,whitesmoke  0%, white  50%,lightgrey 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-decoration:none;
    transition: 0.5s;
    background-size: 200% auto;
    color: #03070a;
    border-radius: 10px;
    display: block;
}

.button-belt a:hover
{
    background-position:right; /* change the direction of the change here */
    text-decoration:none;
}

/* Text cards */
.text-card
{
	font-size:1.6rem;
	position:relative;
	margin:auto;
	padding:10px;
	border-radius:10px;
	border-color:gold;
	border-style:solid;
	border-width: 0px 4px 0px 0px;
	box-shadow:var(--body-shadow); 
	color:var(--body-text-color);
}
.text-card h2
{
	color:var(--body-background-color);
	background-color:gold;
	margin:auto;
	padding:2px;
	width:fit-content;
	text-align:center;
	transition: color 1s;
}
.text-card a
{
	color:gold;
}
/* Member Cards */
.member-card-holder
{
	position:relative;
	height:auto;
	display:flex;
	justify-items:flex-start;
	border-color:gold;
	border-radius:5px;
	border-width:0px 4px 0px 4px;
	padding-bottom:2vh;
	padding-left:5vw;
	padding-right:5vw;
	margin:auto;
	gap:4vw;
	overflow-x:auto;
}
.member-card-holder::-webkit-scrollbar
{
	height:0.4dvh;
}
.member-card-holder::-webkit-scrollbar-track
{
	background-color:var(--body-background-color);
}
.member-card-holder::-webkit-scrollbar-thumb
{
	background-color:gold;
}
.member-card
{	
	flex: 1 0 30%;
	position:relative;
	height:40dvh;
	border-color:gold;
	border-radius:5px;
	border-width:0px 0px 0px 0px;
	border-style:solid;
	box-shadow:var(--body-shadow); 
	opacity:0.95;	
	color:var(--body-background-color);
	overflow:hidden;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:repeat(2,30%);
	transition:grid-template-rows 500ms ease-out;
}
.member-card .profile-caption
{
	z-index:2;
	grid-area:3/1/4/2;
	background-color:rgba(21,21,21,0.3);
	color:whitesmoke;
	font-size: max(1vw,1.3rem);
}
.profile-caption h2 a
{
	grid-area:3/1/4/2;
	text-decoration:none;
	border-style:solid;
	border-width:0px 0px 4px 0px;
	border-color:gold;
	color:whitesmoke;
	text-align:center;
}
.member-card .profile-img  
{
	grid-area:1/1/4/2;
	z-index:-1;
	overflow:hidden;
}
.profile-img img
{
	height:100%;
	width:100%;
	object-fit:cover;
}
/* Content slider */
.slide-container
{
	position:relative;
	display:grid;
	grid-template-rows:repeat(7,10dvh);
	grid-template-columns:repeat(10,10vw);
	overflow:hidden;
}
.slide-container .background-item
{
	grid-area: 2/3/7/10;
	background-color:gold;
	border-radius:20px;
	box-shadow:var(--body-shadow); 
}
.slide-container .content-slide
{
	z-index:1;
	display:flex;
	grid-area: 1/2/6/9;
	background-color:whitesmoke;
	box-shadow:var(--body-shadow); 
	border-radius:20px;
	overflow-x:auto;
	overflow-y:hidden;
	scroll-snap-type:inline mandatory;
	scroll-padding:0;
	scroll-behavior:smooth;
	scrollbar-width:none;
}
.slide-container .content-slide .img-container
{
	scroll-align:start;
	flex:1 0 100%;
}
.img-container a 
{
	text-decoration:none;
}
.content-slide .img-container .img-caption
{
	font-size:1.8rem;
	padding:6px;
	position:relative;
	z-index:5;
	bottom:50%;
	text-align:center;
	background-color:gold;
	color:var(--body-background-color);
	opacity:1;
	transition:opacity 1s;
}

.content-slide .img-container img
{
	height:100%;
	width:100%;
	object-fit: cover;
	filter:blur(5px);
}
.slide-container .selection-box
{
	z-index:2;
	grid-area:5/2/6/9; 
	display:flex;
	border-radius:20px;
	opacity:0.95;
	align-items:center;
	justify-content:space-evenly;
}
.slide-container .selection-box a
{
	border-width:0.2dvh;
	border-style:solid;
	width:0.6vw;
	aspect-ratio:1/1;
	border-radius:50%;
	border-color:var(--body-background-color);
	background-color:whitesmoke;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* Event Cards */
.event-card-holder
 {
	 display:flex;
	 justify-content:space-evenly;
	 gap:4vw;
 }
.event-card-holder .event-card
{
	display:grid;
	grid-template-columns:repeat(4,25%);
	grid-template-rows:repeat(4,25%);
	border-radius:20px;
	overflow:hidden;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.event-card img
{
	z-index:1;
	grid-area:1/1/5/5;
	width:100%;
	height:100%;
	object-fit:cover;
}
.event-card .event-card-caption
{
	padding-left:2rem;
	font-size:1.5rem;
	z-index:2;
	grid-area:4/1/5/5;
	background-color:rgba(21,21,21,0.3);
}
.event-card-caption h2 a
{
	text-align:center;
	text-decoration:none;
	border-style:solid;
	border-width:0px 0px 4px 0px;
	border-color:gold;
	color:whitesmoke;
}
/* Social media box*/
.social-media-box
{
	display:flex;
	justify-content:space-evenly;
	gap:2vw;
}
.social-media-box .social-media-item
{
	flex: 0 1 15%;
	border-radius:20px;
	overflow:hidden;
} 
.social-media-item img
{
	height:100%;
	width:100%;
	object-fit:cover;
}

/* root actions */
:root:has(input[type="checkbox"]#theme-switcher:checked)
{
	--selected-theme:"Light";
	--body-background-color:slateblue;
}
@media (max-width:1024px)
{
	.member-card
	{
		flex: 1 0 65%;
	}
	.event-card-holder
	{
	  display:flex;
	  flex-direction:column;
	  gap:4dvw;
	}
}
@media (min-height:1500px)
{
	.member-card
	{
		height:50dvh;
	}
	.member-card .profile-caption
	{
		font-size: max(1vw,1.8rem);
	}
}

::-webkit-scrollbar
{
	width:0.2vw;
}
::-webkit-scrollbar-track
{
	background-color:var(--body-background-color);
}
::-webkit-scrollbar-thumb
{
	background-color:gold;
}
